p {
    margin: 0px;
    font-size: 11px;
    color: white;
}
.title {    
    color:#F4CC27
}

* {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}