<div class="animated fadeIn">


  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Cambio de contraseña
        </div>
        <div class="card-body">



          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <strong>Ingrese sus credenciales </strong>
              </div>
              <div class="card-body">

                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="hf-email">Contraseña Actual</label>

                  <div class="col-md-9">
                    <input [(ngModel)]="passwordOld" class="form-control" type="password">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="hf-email">Contraseña nueva</label>

                  <div class="col-md-9">
                    <input [(ngModel)]="password" class="form-control" type="password">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="hf-email">Confirmacion contraseña nueva</label>

                  <div class="col-md-9">
                    <input [(ngModel)]="passwordConfirm" class="form-control" type="password">
                  </div>
                </div>





              </div>
              <div class="card-footer">
                <button (click)="ActualizarContra()" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i>
                  Actualizar Contraseña</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->


</div>


<ng-template #error>
  <div class="modal-header" style="background-color:#f86c6b">
    <h4 class="modal-title"> !Ha ocurrido un error!</h4>
    <button type="button" class="close" (click)="decline()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <h6>La contraseña no ha sido actualizada, verifique que los datos sean correctos.</h6>
    <div class="form-group">

      <br>
      <button type="button" class="btn btn-danger" (click)="decline()">Aceptar</button>

    </div>
  </div>
</ng-template>